{% extends 'appMain/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'appMain/css/detailsProducts.css' %}">{% endblock %}


{% block index %}
    <main class="container custom-main mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{producto.imagen.url}}" class="img-fluid custom-product-image" style="width: 500px; height: 500px; margin-left: 50px;" alt="{producto.nombre}">
            </div>
            
            <!-- Detalles del Producto -->
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <h2 class="custom-product-title">{{producto.nombre}}</h2>
                <p class="custom-product-price">$ {{producto.price}}</p>
                <p class="custom-product-description">
                   {{producto.descripcion}}
                </p>

                <div class="custom-seller-info">
                    <h4 class="custom-seller-title">Información del Vendedor</h4>
                    <p class="custom-seller-name"><strong>Vendedor:</strong> {{producto.vendedor.username}}</p>
                    <p class="custom-seller-phone"><strong>Teléfono:</strong> {{producto.vendedor.perfil.telefono}}</p>
                    <p class="custom-seller-location"><strong>Localidad:</strong> {{producto.vendedor.perfil.ciudad}}</p>
                </div>
            </div>
        </div>

        <!-- Sección de Comentarios -->
        <div class="row mt-5">
            <div class="col-md-12">
                                
                {% if user.is_authenticated %}
                    <div class="d-flex align-items-center mb-3">
                        {% if request.user.perfil.imagen_perfil and request.user.perfil.imagen_perfil.url %}
                            <img src="{{ request.user.perfil.imagen_perfil.url }}" alt="{{ request.user.username }}" class="rounded-circle" width="70" height="70">
                        {% else %}
                            <img src="{% static 'appCuentas/assets/img/userDefault.png' %}" class="rounded-circle" width="70" height="70" alt="Foto de Perfil">
                        {% endif %}
                        <div class="ms-3">
                            <h2 class="mb-0">{{ request.user.username }}</h2>
                            <P class="text-muted">Última conexión: {{ request.user.last_login }}</P>
                        </div>
                    </div>
                {% endif %}
                <div class="custom-comment-form">
                    <form method="post" action="{% url 'comentar' producto.pk %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="comment-text" class="form-label">Comentar</label>
                            <textarea name="texto" class="form-control custom-input" id="comment-text" rows="4" required></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary custom-comment-btn">Enviar Comentario</button>
                        </div>
                    </form>
                </div>
                <h3 class="custom-comment-title">Comentarios</h3>
                <!-- Lista de Comentarios -->
                <div class="custom-comment-list mt-4">
                    {% if producto.comentarios.exists %}
                        {% for comentario in producto.comentarios.all %}
                        <div class="custom-comment-item mb-3">
                            <div class="d-flex align-items-center">
                                {% if comentario.usuario.perfil.imagen_perfil and comentario.usuario.perfil.imagen_perfil.url %}
                                    <img src="{{ comentario.usuario.perfil.imagen_perfil.url }}" alt="{{ comentario.usuario.username }}" class="rounded-circle" width="70" height="70">
                                {% else %}
                                    <img src="{% static 'appCuentas/assets/img/userDefault.png' %}" class="rounded-circle" width="70" height="70" alt="Foto de Perfil">
                                {% endif %}
                                <div class="ms-3">
                                    <p class="custom-comment-name mb-0"><strong>{{ comentario.usuario.username }}:</strong></p>
                                    <small class="text-muted">{{ comentario.fecha }}</small>
                                </div>
                            </div>
                            <p class="custom-comment-text mt-2">{{ comentario.texto }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info mt-5" role="alert">
                            No hay comentarios disponibles aún.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
