{% extends 'appMain/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'appMain/css/products.css' %}">{% endblock %}
    

{% block index %}
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar de Categorías -->
            <aside class="col-md-3">
                <nav class="custom-sidebar">
                    <h4 class="custom-sidebar-title">Categorías</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link custom-sidebar-link" href="#componentes">Componentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-sidebar-link" href="#laptops">Laptops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-sidebar-link" href="#perifericos">Periféricos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-sidebar-link" href="#monitores">Monitores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-sidebar-link" href="#electronica">Electrónica</a>
                        </li>
                    </ul>

                    <div class="mt-4">
                        <a href="{% url 'createProducts' %}" class="btn btn-success w-100 custom-btn">
                            Subir Producto
                        </a>
                    </div>
                </nav>
            </aside>

            <main class="col-md-9">
                <h2 class="custom-section-title">Nuestros Productos</h2>

                
                {% if productos_componentes or productos_laptops or productos_perifericos or productos_monitores or productos_electronica %}
                    {% if productos_componentes %}
                        <section id="componentes" class="product-section mt-5">
                            <h3 class="custom-category-title">Componentes</h3>
                            <div class="row">
                                {% for producto in productos_componentes %}
                                    <div class="col-md-4">
                                        <div class="card custom-product-card">
                                            <img src="{{ producto.imagen.url }}" class="card-img-top custom-product-image" alt="{{ producto.nombre }}">
                                            <div class="card-body">
                                                <h5 class="card-title custom-product-name">{{ producto.nombre }}</h5>
                                                <p class="card-text custom-product-price">{{ producto.precio }}</p>
                                                <a href="{% url 'details' producto.pk %}" class="btn btn-primary custom-detail-btn">Ver Detalle</a>
                                                {% if request.user == producto.vendedor or request.user.is_superuser %}
                                                    <a href="{% url 'updateProducts' producto.pk %}" class="btn btn-success custom-detail-btn">Actualizar</a>
                                                    <a href="#" class="btn btn-danger custom-detail-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"data-product-name="{{ producto.nombre }}"data-product-category="{{ producto.categoria }}" data-url="{% url 'deleteProducts' producto.pk %}">Borrar</a>
                                                {% endif %}
                                            </div>
                                        </div>      
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
    
                    {% if productos_laptops %}
                        <section id="laptops" class="product-section mt-5">
                            <h3 class="custom-category-title">Laptops</h3>
                            <div class="row">
                                {% for producto in productos_laptops %}
                                    <div class="col-md-4">
                                        <div class="card custom-product-card">
                                            <img src="{{ producto.imagen.url }}" class="card-img-top custom-product-image" alt="{{ producto.nombre }}">
                                            <div class="card-body">
                                                <h5 class="card-title custom-product-name">{{ producto.nombre }}</h5>
                                                <p class="card-text custom-product-price">{{ producto.precio }}</p>
                                                <a href="{% url 'details' producto.pk %}" class="btn btn-primary custom-detail-btn">Ver Detalle</a>
                                                {% if request.user == producto.vendedor or request.user.is_superuser %}
                                                    <a href="{% url 'updateProducts' producto.pk %}" class="btn btn-success custom-detail-btn">Actualizar</a>
                                                    <a href="#" class="btn btn-danger custom-detail-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"data-product-name="{{ producto.nombre }}"data-product-category="{{ producto.categoria }}" data-url="{% url 'deleteProducts' producto.pk %}">Borrar</a>
                                                {% endif %}
                                            </div>
                                        </div>      
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
    
                    {% if productos_perifericos %}
                        <section id="perifericos" class="product-section mt-5">
                            <h3 class="custom-category-title">Periféricos</h3>
                            <div class="row">
                                {% for producto in productos_perifericos %}
                                    <div class="col-md-4">
                                        <div class="card custom-product-card">
                                            <img src="{{ producto.imagen.url }}" class="card-img-top custom-product-image" alt="{{ producto.nombre }}">
                                            <div class="card-body">
                                                <h5 class="card-title custom-product-name">{{ producto.nombre }}</h5>
                                                <p class="card-text custom-product-price">{{ producto.precio }}</p>
                                                <a href="{% url 'details' producto.pk %}" class="btn btn-primary custom-detail-btn">Ver Detalle</a>
                                                {% if request.user == producto.vendedor or request.user.is_superuser %}
                                                    <a href="{% url 'updateProducts' producto.pk %}" class="btn btn-success custom-detail-btn">Actualizar</a>
                                                    <a href="#" class="btn btn-danger custom-detail-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"data-product-name="{{ producto.nombre }}"data-product-category="{{ producto.categoria }}" data-url="{% url 'deleteProducts' producto.pk %}">Borrar</a>
                                                {% endif %}
                                            </div>
                                        </div>      
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
    
                    {% if productos_monitores %}
                        <section id="monitores" class="product-section mt-5">
                            <h3 class="custom-category-title">Monitores</h3>
                            <div class="row">
                                {% for producto in productos_monitores %}
                                    <div class="col-md-4">
                                        <div class="card custom-product-card">
                                            <img src="{{ producto.imagen.url }}" class="card-img-top custom-product-image" alt="{{ producto.nombre }}">
                                            <div class="card-body">
                                                <h5 class="card-title custom-product-name">{{ producto.nombre }}</h5>
                                                <p class="card-text custom-product-price">{{ producto.precio }}</p>
                                                <a href="{% url 'details' producto.pk %}" class="btn btn-primary custom-detail-btn">Ver Detalle</a>
                                                {% if request.user == producto.vendedor or request.user.is_superuser %}
                                                    <a href="{% url 'updateProducts' producto.pk %}" class="btn btn-success custom-detail-btn">Actualizar</a>
                                                    <a href="#" class="btn btn-danger custom-detail-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"data-product-name="{{ producto.nombre }}"data-product-category="{{ producto.categoria }}" data-url="{% url 'deleteProducts' producto.pk %}">Borrar</a>
                                                {% endif %}
                                            </div>
                                        </div>      
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
    
                    {% if productos_electronica %}
                        <section id="electronica" class="product-section mt-5">
                            <h3 class="custom-category-title">Electrónica</h3>
                            <div class="row">
                                {% for producto in productos_electronica %}
                                    <div class="col-md-4">
                                        <div class="card custom-product-card">
                                            <img src="{{ producto.imagen.url }}" class="card-img-top custom-product-image" alt="{{ producto.nombre }}">
                                            <div class="card-body">
                                                <h5 class="card-title custom-product-name">{{ producto.nombre }}</h5>
                                                <p class="card-text custom-product-price">{{ producto.precio }}</p>
                                                <a href="{% url 'details' producto.pk %}" class="btn btn-primary custom-detail-btn">Ver Detalle</a>
                                                {% if request.user == producto.vendedor or request.user.is_superuser %}
                                                    <a href="{% url 'updateProducts' producto.pk %}" class="btn btn-success custom-detail-btn">Actualizar</a>
                                                    <a href="#" class="btn btn-danger custom-detail-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"data-product-name="{{ producto.nombre }}"data-product-category="{{ producto.categoria }}" data-url="{% url 'deleteProducts' producto.pk %}">Borrar</a>
                                                {% endif %}
                                            </div>
                                        </div>      
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                
                {% else %}

                    <div class="alert alert-info mt-5" role="alert">
                        No hay productos disponibles para mostrar en este momento.
                    </div>

                {% endif %}
                    
            </main>
        </div>
    </div>


    <!-- Modal de confirmación de eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el producto {{ producto.nombre }} de la lista {{producto.categoria}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    

{% endblock %}


{% block js %}<script src="{% static 'appMain/js/script.js' %}"></script>{% endblock %}
    
