{% extends 'appMain/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'appCuentas/css/perfil.css' %}">{% endblock %}


{% block index %}
<main class="container custom-main mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-profile-card">
                <div class="card-body">
                    <h2 class="text-center custom-title mb-4">Mi Perfil</h2>
                    
                    <!-- Foto de Perfil -->
                    
                    <div class="text-center mb-4">
                        {% if request.user.perfil.imagen_perfil %}
                            <img src="{{ request.user.perfil.imagen_perfil.url}}" class="img-fluid rounded-circle custom-profile-pic" alt="Foto de Perfil">
                            {% else %}
                            <img src="{% static 'appCuentas/assets/img/userDefault.png' %}" class="img-fluid rounded-circle custom-profile-pic" alt="Foto de Perfil">
                        {% endif %}
                    </div>
                    

                    <!-- Formulario de Edición de Perfil -->
                    <form method="POST" enctype="multipart/form-data" id="profile-form">
                        {% csrf_token %}
                        <div class="text-center mb-4">
                            <div class="mt-3">
                                <label for="profile-pic" class="form-label custom-file-label">Subir nueva foto de perfil</label>
                                {{form.imagen}}
                            </div>

                        </div>    
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuario</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Número de Teléfono</label>
                            {{ form.telefono }}
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">Ciudad</label>
                            {{ form.ciudad }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary custom-btn">Guardar Cambios</button>
                        </div>
                    </form>

                    <!-- Botón para cambiar contraseña -->
                    <div class="text-center mt-4">
                        <a href="{% url 'updatePassword' %}" class="btn btn-secondary custom-btn">
                            Cambiar Contraseña
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</main>
{% endblock %}


    