{% extends 'appMain/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'appCuentas/css/perfil.css' %}">{% endblock %}



{% block index %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Cambiar Contraseña</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" id="password-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-btn">Actualizar Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}