{% extends 'appMain/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'appCuentas/css/perfil.css' %}">{% endblock %}



{% block index %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Cambiar Contraseña</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" id="password-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-btn">Actualizar Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal de confirmación -->
        <div class="modal fade" id="passwordUpdatedModal" tabindex="-1" aria-labelledby="passwordUpdatedModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordUpdatedModalLabel">Contraseña Actualizada</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tu contraseña se ha actualizado correctamente.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% if password_updated %}
            var passwordUpdatedModal = new bootstrap.Modal(document.getElementById('passwordUpdatedModal'));
            passwordUpdatedModal.show();

            // Redirigir al perfil después de cerrar el modal
            document.getElementById('closeModalBtn').addEventListener('click', function() {
                window.location.href = "{% url 'perfil' %}";
            });
            {% endif %}
        });
    </script>
{% endblock %}